html {
	background-image:url(double-bubble-indvgum.jpg);
	}
	
.Box1 {
	background-color: #FFD801;
	height: 200px;
	width: 600px; 
	border:10px solid white;
	margin-left:auto;
	margin-right:auto;
	width:70%;
}

h1 {
	font-family: Arial Rounded MT Bold;
	font-weight: bold;
	font-size: 90px;
	text-align: center;
}
	
.Box2, .Box3, .Box4 {
	background-color: #FCDFFF;
	height: 600px;
	width: 200px;
	border: 10px solid White;
	float: left;
	margin: 25px;
	}

h2 {
	font-family: Arial Rounded MT Bold;
	}
	
p {
	font-family: Franklin Gothic Medium;
	font-size: 14.5px;
	}

ul {
	font-family: Franklin Gothic Medium;
	font-size: 14.5px;
	}