html {
	background-image:url(double-bubble-indvgum.jpg);
	}
	
.Box1 {
background-color: #FFD801;
height: 200px;
width: 600px; 
border:10px solid white;
margin-left:auto;
margin-right:auto;
width:70%;
}

	
.Box2, .Box3, .Box4 {
	background-color: #FCDFFF;
	height: 600px;
	width: 200px;
	border: 10px solid White;
	float: right;
	}
